Hola **Luis**!

Soy **Patricio Requena** üëã. Es un placer ser el revisor de tu proyecto el d√≠a de hoy!

Revisar√© tu proyecto detenidamente con el objetivo de ayudarte a mejorar y perfeccionar tus habilidades. Durante mi revisi√≥n, identificar√© √°reas donde puedas hacer mejoras en tu c√≥digo, se√±alando espec√≠ficamente qu√© y c√≥mo podr√≠as ajustar para optimizar el rendimiento y la claridad de tu proyecto. Adem√°s, es importante para m√≠ destacar los aspectos que has manejado excepcionalmente bien. Reconocer tus fortalezas te ayudar√° a entender qu√© t√©cnicas y m√©todos est√°n funcionando a tu favor y c√≥mo puedes aplicarlos en futuras tareas. 

_**Recuerda que al final de este notebook encontrar√°s un comentario general de mi parte**_, empecemos!

Encontrar√°s mis comentarios dentro de cajas verdes, amarillas o rojas, ‚ö†Ô∏è **por favor, no muevas, modifiques o borres mis comentarios** ‚ö†Ô∏è:


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si todo est√° perfecto.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta.
</div>

<div class="alert alert-block alert-danger">
<b>Comentario del revisor</b> <a class=‚ÄútocSkip‚Äù></a>
Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma:
<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class=‚ÄútocSkip‚Äù></a>

# Librerias

In [9]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier

In [10]:
from sklearn.utils import resample

In [11]:

from sklearn.utils import shuffle

In [18]:
from sklearn.metrics import f1_score, roc_auc_score, classification_report

# 1.Obserbaci√≥n y limpieza de datos:

In [2]:
df = pd.read_csv('/datasets/Churn.csv')

In [3]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0     2.0       0.00              1          1               1
1     1.0   83807.86              1          0               1
2     8.0  159660.80              3          1               0
3     1.0       0.00              2          0               0
4     2.0  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [4]:


# 1) Cargar datos
df = pd.read_csv('/datasets/Churn.csv')

# 2) Dimensi√≥n y columnas
print("Shape:", df.shape)
print("\nColumnas:")
print(df.columns.tolist())

# 3) Vista r√°pida
print("\nHead:")
display(df.head(3))
print("\nTail:")
display(df.tail(3))

# 4) Tipos + nulos
print("\nInfo:")
print(df.info())
print("\nNulos por columna:")
print(df.isnull().sum().sort_values(ascending=False))

# 5) Duplicados
print("\nFilas duplicadas:", df.duplicated().sum())

Shape: (10000, 14)

Columnas:
['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']

Head:

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1

Tail:

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9997,9998,15584532,Liu,709,France,Female,36,7.0,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3.0,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,NaN,130142.79,1,1,0,38190.78,0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
None

Nulos por columna:
Tenure             909
RowNumber            0
CustomerId           0
Surname              0
CreditScore          0
Geography            0
Gender               0
Age                  0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
dtype: int64

Filas duplicadas: 0

In [5]:



df = pd.read_csv('/datasets/Churn.csv')

# 1) descartar columnas de identificaci√≥n
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'])

# 2) imputar Tenure (a√±os) y convertir a entero
imp = SimpleImputer(strategy='most_frequent')  # o 'median'
df['Tenure'] = imp.fit_transform(df[['Tenure']]).ravel().astype(int)

# 3) opcional: castear binarios a bool
for col in ['HasCrCard', 'IsActiveMember', 'Exited']:
    df[col] = df[col].astype(bool)

# 4) opcional: marcar categ√≥ricas como category (para EDA/memoria)
df['Geography'] = df['Geography'].astype('category')
df['Gender'] = df['Gender'].astype('category')

print(df.dtypes)
print(df.isnull().sum())

CreditScore           int64
Geography          category
Gender             category
Age                   int64
Tenure                int64
Balance             float64
NumOfProducts         int64
HasCrCard              bool
IsActiveMember         bool
EstimatedSalary     float64
Exited                 bool
dtype: object
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

Se ajustaron los tipos de datos para mejorar coherencia, eficiencia y preparaci√≥n del modelado. Se eliminaron columnas de identificaci√≥n (RowNumber, CustomerId, Surname) por no aportar se√±al predictiva y para evitar fuga de informaci√≥n. Las variables categ√≥ricas Geography y Gender se tiparon como category para reflejar su naturaleza discreta y facilitar su codificaci√≥n OHE sin errores. Los indicadores HasCrCard, IsActiveMember y el objetivo Exited se convirtieron a bool, lo que clarifica su sem√°ntica binaria y reduce ambig√ºedad frente a enteros 0/1. Tenure (a√±os) se imput√≥ y caste√≥ a int, pues representa conteos enteros; el resto de num√©ricas permanecieron como int64/float64 seg√∫n corresponda (CreditScore, Age, NumOfProducts, Balance, EstimatedSalary). Tras estos cambios, no quedaron valores nulos, y el dataset qued√≥ listo para un pipeline de modelado (OHE para categ√≥ricas y, si se requiere, escalado para modelos lineales) con tipos m√°s compactos y consistentes.

# Punto 2

## 2.1 Equilibrio de Clases

In [6]:
# 1) Balance del target
print("\nBalance de clases (Exited):")
print(df['Exited'].value_counts())
print("\nBalance relativo (Exited):")
print(df['Exited'].value_counts(normalize=True).round(3))

# 2) Estad√≠sticas num√©ricas
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()
print("\nEstad√≠sticas num√©ricas:")
display(df[num_cols].describe().T)

# 3) Categ√≥ricas: cardinalidad y top valores
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
print("\nColumnas categ√≥ricas:", cat_cols)
for c in cat_cols:
    print(f"\n{c} (n_√∫nicos={df[c].nunique()}):")
    print(df[c].value_counts(dropna=False).head(10))

# 4) Sanidad de rangos (negativos o fuera de rango t√≠pico)
checks = {
    'CreditScore_negativos': (df['CreditScore'] < 0).sum(),
    'Age_negativos': (df['Age'] < 0).sum(),
    'Tenure_negativos': (df['Tenure'] < 0).sum(),
    'Balance_negativos': (df['Balance'] < 0).sum(),
    'NumOfProducts_negativos': (df['NumOfProducts'] < 0).sum(),
    'EstimatedSalary_negativos': (df['EstimatedSalary'] < 0).sum(),
}
print("\nCheques de valores negativos (no deber√≠an existir):")
print(checks)

# 5) Outliers r√°pidos por percentiles
q = df[num_cols].quantile([0.01, 0.99])
print("\nPercentiles 1% y 99% (para ojear outliers):")
display(q)

Balance de clases (Exited):
False    7963
True     2037
Name: Exited, dtype: int64

Balance relativo (Exited):
False    0.796
True     0.204
Name: Exited, dtype: float64

Estad√≠sticas num√©ricas:

,count,mean,std,min,25%,50%,75%,max
CreditScore,10000.0,650.528800,96.653299,350.00,584.00,652.000,718.0000,850.00
Age,10000.0,38.921800,10.487806,18.00,32.00,37.000,44.0000,92.00
Tenure,10000.0,4.634300,2.989725,0.00,2.00,4.000,7.0000,10.00
Balance,10000.0,76485.889288,62397.405202,0.00,0.00,97198.540,127644.2400,250898.09
NumOfProducts,10000.0,1.530200,0.581654,1.00,1.00,1.000,2.0000,4.00
EstimatedSalary,10000.0,100090.239881,57510.492818,11.58,51002.11,100193.915,149388.2475,199992.48

Columnas categ√≥ricas: []

Cheques de valores negativos (no deber√≠an existir):
{'CreditScore_negativos': 0, 'Age_negativos': 0, 'Tenure_negativos': 0, 'Balance_negativos': 0, 'NumOfProducts_negativos': 0, 'EstimatedSalary_negativos': 0}

Percentiles 1% y 99% (para ojear outliers):

      CreditScore   Age  Tenure      Balance  NumOfProducts  EstimatedSalary
0.01        432.0  21.0     0.0       0.0000            1.0        1842.8253
0.99        850.0  72.0    10.0  185967.9854            3.0      198069.7345

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Correcto! Siempre en proyectos de clasificaci√≥n utilizando Machine Learning hay que revisar el balance de las clases ya que de esto depender√° las t√©cnicas a aplicar o los modelos a utilizar para conseguir un buen desempe√±o en las predicciones
</div>

Durante la exploraci√≥n de datos se identific√≥ que el conjunto est√° conformado por 10,000 registros y 14 columnas. Se observ√≥ un claro desequilibrio de clases en la variable objetivo Exited, con aproximadamente un 80% de clientes que permanecen y un 20% que se van. Variables como RowNumber, CustomerId y Surname no aportan valor predictivo, mientras que Geography y Gender son categ√≥ricas relevantes que requieren codificaci√≥n. Se detectaron valores nulos en Tenure, los cuales deber√°n imputarse. El resto de variables num√©ricas (CreditScore, Age, Balance, NumOfProducts, EstimatedSalary) presentan rangos consistentes, sin valores negativos, aunque con outliers naturales propios de los datos financieros. En general, el dataset se encuentra en buen estado para continuar con la preparaci√≥n y el modelado.

## 2.2 Entrenamiento del modelo excluyendo equilibrio

In [7]:
# 2) OHE r√°pido para categ√≥ricas
df_ohe = pd.get_dummies(df, drop_first=True)

# 3) separar target y features
y = df_ohe['Exited']
X = df_ohe.drop('Exited', axis=1)

# 4) split (estratificado para mantener proporciones)
X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=12345, stratify=y
)

# 5) modelo baseline SIN tener en cuenta el desequilibrio
model = LogisticRegression(max_iter=1000, random_state=12345)  # sin class_weight
model.fit(X_train, y_train)

# 6) predicciones y m√©tricas
proba_valid = model.predict_proba(X_valid)[:, 1]
pred_valid = (proba_valid >= 0.5).astype(int)

print("Baseline (sin tratar desbalance)")
print("F1 :", round(f1_score(y_valid, pred_valid), 3))
print("AUC:", round(roc_auc_score(y_valid, proba_valid), 3))

Baseline (sin tratar desbalance)
F1 : 0.069
AUC: 0.681

El bajo F1 muestra que el modelo no es √∫til en la pr√°ctica si usamos un umbral fijo de 0.5.

El AUC-ROC m√°s alto indica que hay informaci√≥n √∫til en los datos, solo que el modelo necesita un mejor manejo del desbalance (upsampling, downsampling, class_weight, etc.) y quiz√° un ajuste de umbral para realmente identificar la clase positiva.

En conclusi√≥n: el baseline confirma que el desbalance afecta mucho al F1, y el siguiente paso es aplicar t√©cnicas para corregirlo.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Correccto, se puede ver que el desbalance afecta el desempe√±o de los modelos
</div>

# Punto 3

### Upsampling

In [8]:

df_ohe = pd.get_dummies(df, drop_first=True)

y = df_ohe['Exited']
X = df_ohe.drop('Exited', axis=1)

X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=12345, stratify=y
)

In [12]:
# Funci√≥n de upsampling (replicar clase 1 hasta igualar a la 0)
def upsample_minority(X, y, random_state=12345):
    data = X.copy()
    data['Exited'] = y.values

    maj = data[data['Exited'] == 0]
    mino = data[data['Exited'] == 1]

    # replicar clase 1 hasta el tama√±o de la clase 0
    reps = int(len(maj) / len(mino))
    rem  = len(maj) - reps * len(mino)
    mino_rep = pd.concat([mino]*reps + [mino.sample(rem, random_state=random_state)], axis=0)

    up = pd.concat([maj, mino_rep], axis=0)
    up = shuffle(up, random_state=random_state).reset_index(drop=True)

    X_up = up.drop('Exited', axis=1)
    y_up = up['Exited']
    return X_up, y_up

X_train_up, y_train_up = upsample_minority(X_train, y_train)
print("Tama√±os tras upsampling:", X_train_up.shape, y_train_up.value_counts().to_dict())

Tama√±os tras upsampling: (12740, 11) {False: 6370, True: 6370}

In [13]:
#Entrenar y evaluar
# Modelo con datos upsampled
lr_up = LogisticRegression(max_iter=1000, random_state=12345)
lr_up.fit(X_train_up, y_train_up)

proba_valid = lr_up.predict_proba(X_valid)[:, 1]
pred_valid  = (proba_valid >= 0.5).astype(int)

print("Logistic Regression con upsampling")
print("F1  :", round(f1_score(y_valid, pred_valid), 3))
print("AUC :", round(roc_auc_score(y_valid, proba_valid), 3))

Logistic Regression con upsampling
F1  : 0.454
AUC : 0.732

El F1 ya subi√≥ mucho m√°s frente al baseline (0.069). el upsampling ayud√≥ a detectar m√°s casos de Exited=1.

El AUC (0.732) indica que el modelo s√≠ separa razonablemente a ambas clases a nivel de probabilidades (independiente del umbral).

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Perfecto, t√©cnicas c√≥mo sobre-muestreo o sub-muestreo o la modificaci√≥n de par√°metros en algunos modelos para especificar el desbalance ayuda a los modelos a poder generalizar mejor cada caso y obtener un buen desempe√±o
</div>

In [14]:
# Afianr umbral para maximizar f1

best_t, best_f1 = 0.5, -1
for t in np.arange(0.1, 0.9, 0.01):
    f1 = f1_score(y_valid, (proba_valid >= t).astype(int))
    if f1 > best_f1:
        best_f1, best_t = f1, t

print("Mejor umbral:", round(best_t,2), " | F1:", round(best_f1,3))

Mejor umbral: 0.55  | F1: 0.472

Mover el umbral de 0.50 a 0.55 te dio un peque√±o aumento de F1 (+0.018).

Esto significa que, a 0.55, el balance precisi√≥n‚Äìrecall es ligeramente mejor que a 0.50 (probablemente subi√≥ la precisi√≥n y baj√≥ un poco el recall).

AUC no cambia con el umbral ya que mide ranking de probabilidades

*Conclusi√≥n del enfoque 1*:

El upsampling + ajuste de umbral mejora de forma clara el F1, pero a√∫n no alcanza el objetivo del proyecto (‚â• 0.59).

### Class weight Balanceado

In [16]:
df_ohe = pd.get_dummies(df, drop_first=True)

y = df_ohe['Exited']
X = df_ohe.drop('Exited', axis=1)

X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.2, random_state=12345, stratify=y
)

# util para buscar el mejor umbral por F1
def best_threshold(proba, y_true, lo=0.1, hi=0.9, step=0.01):
    best_t, best_f1 = 0.5, -1
    for t in np.arange(lo, hi, step):
        f1 = f1_score(y_true, (proba >= t).astype(int))
        if f1 > best_f1:
            best_f1, best_t = f1, t
    return best_t, best_f1


#  1) Logistic Regression con class_weight='balanced' 
lr_bal = LogisticRegression(max_iter=1000, random_state=12345, class_weight='balanced')
lr_bal.fit(X_train, y_train)

proba_lr = lr_bal.predict_proba(X_valid)[:, 1]
pred_lr_050 = (proba_lr >= 0.50).astype(int)

print("LogisticRegression (class_weight='balanced')")
print("F1  @0.50:", round(f1_score(y_valid, pred_lr_050), 3))
print("AUC     :", round(roc_auc_score(y_valid, proba_lr), 3))

t_lr, f1_lr = best_threshold(proba_lr, y_valid, lo=0.2, hi=0.8, step=0.01)
print("Mejor umbral LR:", round(t_lr, 2), "| F1:", round(f1_lr, 3))
print()


#  2) RandomForest con class_weight='balanced' 
rf_bal = RandomForestClassifier(
    n_estimators=300, max_depth=10, random_state=12345, n_jobs=-1,
    class_weight='balanced'
)
rf_bal.fit(X_train, y_train)

proba_rf = rf_bal.predict_proba(X_valid)[:, 1]
pred_rf_050 = (proba_rf >= 0.50).astype(int)

print("RandomForest (class_weight='balanced')")
print("F1  @0.50:", round(f1_score(y_valid, pred_rf_050), 3))
print("AUC     :", round(roc_auc_score(y_valid, proba_rf), 3))

t_rf, f1_rf = best_threshold(proba_rf, y_valid, lo=0.2, hi=0.8, step=0.01)
print("Mejor umbral RF:", round(t_rf, 2), "| F1:", round(f1_rf, 3))

LogisticRegression (class_weight='balanced')
F1  @0.50: 0.46
AUC     : 0.722
Mejor umbral LR: 0.51 | F1: 0.462

RandomForest (class_weight='balanced')
F1  @0.50: 0.643
AUC     : 0.869
Mejor umbral RF: 0.48 | F1: 0.648

LogisticRegression (balanced): F1‚âà0.46, AUC‚âà0.72  mejora vs baseline, pero se queda corto.

RandomForest (balanced): F1‚âà0.64 @0.48, AUC‚âà0.87  supera holgadamente la meta (‚â•0.59). Adem√°s, el ajuste de umbral (‚âà0.48) mejora F1 respecto a 0.50.

Conclusi√≥n: el mejor enfoque es RandomForest con class_weight='balanced' y umbral ‚âà 0.48.

# Punto 4

In [19]:
df_ohe = pd.get_dummies(df, drop_first=True)

y = df_ohe['Exited']
X = df_ohe.drop('Exited', axis=1)

# train/valid/test = 60/20/20
X_temp, X_test, y_temp, y_test = train_test_split(
    X, y, test_size=0.20, random_state=12345, stratify=y
)
X_train, X_valid, y_train, y_valid = train_test_split(
    X_temp, y_temp, test_size=0.25, random_state=12345, stratify=y_temp
)

# reentrenar en train+valid con el mejor modelo
X_trfinal = pd.concat([X_train, X_valid], axis=0)
y_trfinal = pd.concat([y_train, y_valid], axis=0)

best_rf = RandomForestClassifier(
    n_estimators=300, max_depth=10, random_state=12345,
    n_jobs=-1, class_weight='balanced'
)
best_rf.fit(X_trfinal, y_trfinal)

# evaluar en test con el umbral encontrado en valid (‚âà 0.48)
proba_test = best_rf.predict_proba(X_test)[:, 1]
thr = 0.48
pred_test = (proba_test >= thr).astype(int)

print("TEST F1 :", round(f1_score(y_test, pred_test), 3))
print("TEST AUC:", round(roc_auc_score(y_test, proba_test), 3))
print(classification_report(y_test, pred_test, digits=3))

TEST F1 : 0.634
TEST AUC: 0.869
              precision    recall  f1-score   support

       False      0.917     0.877     0.896      1593
        True      0.588     0.688     0.634       407

    accuracy                          0.839      2000
   macro avg      0.752     0.782     0.765      2000
weighted avg      0.850     0.839     0.843      2000

Modelo: RandomForestClassifier (class_weight='balanced', umbral ‚âà 0.48) entrenado en train+valid y evaluado en test (n=2000).

F1 (test): 0.634  supera el requisito del proyecto (‚â• 0.59).

AUC-ROC (test): 0.869  muy buena capacidad de separaci√≥n entre clases.

Conclusi√≥n:

El F1 cumple el umbral y el AUC alto confirma que el modelo asigna probabilidades bien ordenadas (buena separabilidad).

Frente al baseline inicial (F1‚âà0.069, AUC‚âà0.681), la mejora es sustancial gracias a class_weight='balanced' y el ajuste de umbral.

# Conclusi√≥n


En la evaluaci√≥n final sobre el conjunto de prueba, el modelo seleccionado ‚ÄîRandomForestClassifier con class_weight='balanced' y umbral de decisi√≥n ‚âà 0.48‚Äî obtuvo F1 = 0.634 y AUC-ROC = 0.869.
El F1 resume el balance entre precisi√≥n (0.588) y recall (0.688) para la clase positiva (churn), por lo que es la m√©trica operativa principal del proyecto; cumplir F1 ‚â• 0.59 indica que el modelo identifica una proporci√≥n relevante de clientes que se ir√°n sin disparar en exceso los falsos positivos.

Por su parte, el AUC-ROC mide la capacidad de separaci√≥n entre clases a trav√©s de todos los umbrales; un valor de 0.869 confirma que el modelo asigna probabilidades bien ordenadas y que, con ajustes de umbral, es posible moverse a escenarios m√°s conservadores o m√°s sensibles seg√∫n la necesidad del negocio.

Frente al baseline (Regresi√≥n Log√≠stica sin correcciones: F1 = 0.069, AUC = 0.681), la mejora es sustancial. Entre los enfoques probados, el upsampling elev√≥ F1 hasta ~0.47, pero el m√©todo m√°s efectivo fue ponderar clases (class_weight='balanced') en un Random Forest, adem√°s del ajuste de umbral en validaci√≥n (‚âà 0.48), que maximiz√≥ F1 manteniendo una AUC alta.

<div class="alert alert-block alert-success">
<b>Comentario del revisor (1ra Iteracion)</b> <a class=‚ÄútocSkip‚Äù></a>

Te felicito por el trabajo realizado Luis, se nota que conoces las m√©tricas de evaluaci√≥n y planteas conclusiones muy acertadas en cuanto a los resultados. Es importante siempre en un problema de ML identificar el balance entre las clases de tu variable objetivo para poder escoger la m√©trica correcta ya que para datasets desbalanceados la m√©trica de accuracy suele presentar buenos valores pero en realidad las predicciones no son buenas y es por la forma en c√≥mo se calcula esta m√©trica que puede llevar a interpretaciones erroneas en cambio el f1-score es la ideal para este tipo de casos ya que maneja mejor este tipo de problemas.
    
Saludos!
</div>